/*body {*/
  /*!*margin: 0;*!*/
  /*!*padding: 0;*!*/
  /*!*display: block;*!*/
  /*!*margin-left: auto;*!*/
  /*!*margin-right: auto;*!*/
  /*!*text-align: center;*!*/
  /*!*width: 40%;*!*/
  /*!*font-family: sans-serif;*!*/
  /*margin: auto;*/
    /*width: 40%;*/
    /*border: 3px solid #73AD21;*/
    /*padding: 10px;*/
/*}*/

body {
  background-color: lightgray;
}


#root {
  /*margin: 0;*/
  /*padding: 0;*/
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  text-align: center;
  /*width: 40%;*/
  /*font-family: sans-serif;*/
  margin: 30px auto 30px auto;
  width: 60%;
  min-width: 400px;
  max-width: 600px;
  /*min-height: 400px;*/
  background-color: white;
  border: 2px solid gray;
  padding: 20px;
}

.app {
}

.measurement-info-form {
  width: 70%;
  min-width: 300px;
  max-width: 450px;
  margin: auto;
  text-align: left;
}

.trial-plot {
  width: 100%;
}

.abort-button {
  text-align: left;
}

.participant-info-card,
.measurement-settings-card {
  margin: 2em 0 0 0;
}

.start-button {
  margin: 1em 0 0 0;
}

.participant-info-card .card-header,
.measurement-settings-card .card-header {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.tooltip-element {
  display: inline-block;
  margin: 0 0 0 0.75em;
  width: 1.5em;
  height: 1.5em;
  /*line-height: 26px;*/
  font-size: 0.8em;
  border-radius: 50%;
  background-color: lavender;
  text-align: center;
}

.tooltip-element:before {
  content: '?';
}

.input-label-required:after {
  content: '*';
  color: red;
}
